
html, body{
    height:100vh;
    width:100vw;
}

.center {
    height: 20%;
}

.bg-box {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

/*--------- Login Component ---------*/
.color-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.evil-laugh {
    font-weight: bold;
}
/*-----------------------------------*/

